.user-reservations {
  text-align: center;
  background-color: #f1f2f8;
  color: black;
  height: -webkit-fill-available;

  #reservations-main-text {
    display: inline-block;
  }

  #reservations-number {
    color: blue;
  }

  #cards-section {
    margin-top: 1.5rem;

    div.card {
      margin-bottom: 1.5rem;
    }
  }

  @media screen and (min-width: 320px) {
    #reservations-main-text { font-size: 18px; }
  }

  @media screen and (min-width: 480px) {
    #reservations-main-text { font-size: 28px; }
  }

  @media screen and (min-width: 640px) {
    #reservations-main-text { font-size: 38px; }
  }

  @media screen and (min-width: 1024px) {
    #reservations-main-text { font-size: 48px; }
  }
}

.footer {
  width: 100%;
  height: 8vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  bottom: 0;
}