.login-form {
  margin-top: 24px;
  margin-bottom: 24px;

  form {
    display: flex;
    flex-direction: column;

    input {
      border: none;
      font-size: 15px;
      padding: 10px;
      margin-bottom: 20px;
      background-color: transparent;

      &:focus {
        outline: none;
        border-bottom: 1px #2B8FF9 solid;
      }
    }
  }

  input.submit-btn {
    background-color: transparent;
    text-align: left;
    margin-top: 16px;
    color: blue;
    font-size: 20px;
    width: 80vw;

    &:focus {
      background-color: #1784F9;
      border-radius: 6px;
      color: #FFFFFF;
    }
  }
}